.container {
    color: var(--color-light-accent);
    border-radius: 50%;
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: scalebubble 2s ease-in-out;
}

.small {
    width: calc(var(--grid-cell) * 4);
    height: calc(var(--grid-cell) * 4);
    font-size: var(--font-size-s);
    grid-area: span 4 / span 4;
}

.middle {
    width: calc(var(--grid-cell) * 5);
    height: calc(var(--grid-cell) * 5);
    font-size: var(--font-size-s);
    grid-area: span 5 / span 5;
}

.large {
    width: calc(var(--grid-cell) * 6);
    height: calc(var(--grid-cell) * 6);
    font-size: var(--font-size-m);
    grid-area: span 6 / span 6;
}

.xlarge {
    width: calc(var(--grid-cell) * 7);
    height: calc(var(--grid-cell) * 7);
    font-size: var(--font-size-m);
    grid-area: span 7 / span 7;
}

.empty {
    width: calc(var(--grid-cell) * 2);
    height: calc(var(--grid-cell) * 2);
    grid-area: span 2 / span 2;
    visibility: hidden;
}

.light {
    background-color: var(--color-light-accent);
    color: var(--color-dark-accent);
    border-color: var(--color-secondary);
}

.dark {
    background-color: var(--color-secondary);
    color: var(--color-light-accent);
    border-color: var(--color-light-secondary);
}

@keyframes scalebubble {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 1032px) {
    .small {
        font-size: var(--font-size-xs);
    }

    .middle {
        font-size: var(--font-size-xs);
    }

    .large {
        font-size: var(--font-size-s);
    }

    .xlarge {
        font-size: var(--font-size-s);
    }
}


@media (max-width: 600px) {
    .large {
        font-size: var(--font-size-xs);
    }

    .xlarge {
        font-size: var(--font-size-xs);
    }
}
