:root {
    --tabs-gap: 26px;
}

.container {
    display: flex;
    position: fixed;
    justify-content: center;
    width: 100%;
    z-index: var(--z-index-20);
    transition: transform 0.3s ease-in-out;
}

.container.hidden {
    transform: translateY(-100%);
}

.header {
    display: flex;
    gap: var(--tabs-gap);
    align-items: center;
    justify-content: space-between;
    padding: 0 76px;
    background-color: var(--color-accent);
    width: calc(100% - 2 * 60px);
    height: var(--header-height);
    border-radius: 0 0 22px 22px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.tabs {
    display: flex;
    gap: var(--tabs-gap);
}

.burgerButton, .crossIcon {
    display: none;
    color: var(--color-light-accent);
}

@media (max-width: 600px) {
    .burgerButton {
        display: block;
    }

    .tabs {
        position: fixed;
        right: 0;
        height: 100vh;
        top: 0;
        padding-top: var(--header-height);
        bottom: 0;
        background-color: var(--color-accent);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        z-index: var(--z-index-30);
        transform: translateX(100%); /* Hide off-screen by default */
        transition: transform 0.5s ease-in;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    .crossIcon {
        display: block;
        position: absolute;
        top: 14px;
        right: 24px;
    }

    .container.hidden {
        transform: none;
    }

    .tabs.active {
        transform: translateX(0%);
    }
}

@media (min-width: 600px) and (max-width: 810px) {
    .header {
        width: 100%;
        border-radius: 0;
        justify-content: center;
        padding: 0 24px;
    }

    .contacts {
        display: none;
    }
}


@media (max-width: 1032px) {
    .header {
        width: 100%;
        border-radius: 0;
        padding: 0 24px;
    }


}
