.container {
    background-color: var(--color-accent);
    min-height: var(--section-height-s);
    display: flex;
    align-items: center;
    padding: 80px 0;
}

.innerContainer {
    border: 2px solid var(--color-secondary);
    border-radius: 22px;
    width: 100%;
    margin: 0px 8%;
    color: var(--color-dark-accent);
    padding: 20px 10px;
    background-color: rgba(252, 250, 252, 0.6);
}

.title {
    font-size: var(--font-size-l);
}

.description {
    font-size: var(--font-size-s);
    padding-top: 20px;
    margin-left: 34px;
}

@media (max-width: 780px) or (max-height: 400px) {
    .title {
        font-size: var(--font-size-m);
    }

    .description {
        font-size: var(--font-size-xs);
    }

    .container {
        padding: var(--section-padding-s) 0;
    }
}

