:root {
    --color-primary: #4d1563;
    --color-secondary: #b37bc9;
    --color-accent: #7d3e96;
    --color-dark-accent: #290239;
    --color-light-accent: #fcfafc;

    --section-height-xl: 830px;
    --section-height-l: 750px;
    --section-height-m: 650px;
    --section-height-s: 390px;
    --section-height-xs: 300px;
    --section-padding: 60px;
    --section-padding-s: 40px;

    --font-size-xl: 38px;
    --font-size-l: 32px;
    --font-size-m: 28px;
    --font-size-s: 24px;
    --font-size-xs: 16px;
    --font-size-xxs: 10px;

    --z-index-30: 30;
    --z-index-20: 20;
    --z-index-10: 10;

    /* Основные брейкпоинты в приложении */
    --breakpoint-l: 1280px;
    --breakpoint-m: 1032px;
    --breakpoint-s: 600px;

    --header-height: 60px;
}
