.headerTab {
    display: inline-block;
    color: var(--color-light-accent);
    padding: 8px 15px;
    height: 48px;
    font-size: var(--font-size-s);
    font-weight: 400;
}

.headerTab:hover {
    opacity: 0.8;
}

@media (min-width: 600px) and (max-width: 1032px) {
    .headerTab {
        font-size: var(--font-size-xs);
    }
}
