:root {
    --grid-cell: 30px
}
.container {
    width: 80%;
    margin: auto;
    padding: var(--section-padding) 0;
    display: grid;
    gap: 10px;
    justify-content: center;
    grid-auto-flow: dense;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--grid-cell), 1fr));
}

@media (min-width: 600px) and (max-width: 1032px) {
    :root {
        --grid-cell: 25px;
    }
}

@media (max-width: 600px) {
    :root {
        --grid-cell: 12px;
    }
}
